<div class="resume-view" data-id="{{resume.id}}">
  <div class="row">
    <div class="col-2">Name: </div>
    <div class="col-8"><strong>{{resume.name}}</strong></div>
    <div class="col-2">
    </div>
  </div>
  <div class="row">
    <div class="col-2">Format: </div>
    <div class="col-4">{{resume.format}}</div>
  </div>
  <div class="row">
    <div class="col-2">Body: </div>
    <div class="col-10 resume-content">
      {{resume.content}}
    </div>
  </div>
  <div class="row">
    <div class="col-8"></div>
    <div class="col">
      <button class="btn btn-outline-secondary edit-resume" data-id="{{resume.id}}">Edit</button>
    </div>
    <div class="col">
      <button class="btn btn-outline-secondary delete-resume" data-id="{{resume.id}}">Delete</button>
    </div>
  </div>
</div>
